__pycache__
.idea
.DS_Store
*.egg-info
build
.venv
.vscode
.amltconfig
*.yaml
data
checkpoints
out
wandb
amlt
*.png
*.tex
*.txt
*.csv
*results*/
datasets/
hf_version/
*.log
*.json
!assets/
paper/
datasets/
legacy_scripts/
legacy_plots/
lit_gpt/megablocks/
hf_coder/